* {
    box-sizing: border-box;
  }

  body {
    background: #E5E5E5;
  }

  .container-basic-information {
    font-family: 'Roboto';
   
  }

  header {
    width: 100%;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center 
  }

  .container-basic-information {
    font-family: 'Roboto';
   
  }

  header {
    width: 100%;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  h1 {
    width: 176px;
    height: 43px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
    
  }

  .main-box-basic-informations, 
  .create-questions-box,
   .create-levels-box, 
   .Finished-quizz-box
   
     {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 13px;
  }


  .PlayQuizzBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 42px;
}

  
.thirdScreenCard {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 42px;
    width: 100%;
}
  .thirdScreenCard img {
    width: 100%;
    height: 227px;
    margin-bottom: 28px ;
    
  }

  .thirdScreenCard p {
    z-index: 5;
  }

  .TitlePlayQuizz {
    position: absolute;
    
  }
  .TitlePlayQuizz p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    
  }
  .QuizzBox {
    width: 759px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 28px 36px 36px 36px;
    gap: 9px ;
  }

  .TitleQuizzBox {
    width: 100%;
    height: 138px;
    background: #434CA0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .TitleQuizzBox p {
    width: 100%;
  }
  .QuizzAnswers {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 19px;
    
    
  }
  .QuizzAnswers img {
    width: 331px;
    height: 175.2px;
  }

  .AnswerImg p {
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    width: 331px;
    height: 34.11px;
    display: flex;
    justify-content: left;

  }
  .hidden{
    display: none ;
}


  h2 {
    width: auto;
    height: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #000000;
    margin-top: 71px;
    margin-bottom: 27px;
  }

  h3,h4 {
    width: auto;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-top: 27px;
  }

  h4{
    margin-bottom: 24px;
  }

.beginning-question-box {
    width: 600px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    padding: 21px 20px 16px 24px;
    gap: 9px;
    
}
.questions-box, .Ask-level-box {
    width: 600px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    padding: 0px 20px 16px 24px;
    gap: 14px;
}

input {
     width: 100%;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-bottom: 14px;
    
}

input::placeholder {
    width: auto;
    height: 22px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    padding-left: 23px;
    
}
.button {
    width: 368px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 85px;
}

.Finished-Quizz-Button {
    width: 220px;
    height: 44px;
    background: #EC362D;
    border-radius: 15px;
    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF5F4;

}


p {
    width: 368px;
    height: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Fazer o efeito de esconder e aparecer as caixas das perguntas*/
.create-levels-box .Ask-level-box h3,
.create-questions-box .questions-box h3 {
  position: relative;
  
}

.create-levels-box .Ask-level-box h3::before,
.create-questions-box .questions-box h3::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.create-levels-box .Ask-level-box.active h3::before,
.create-questions-box .questions-box.active h3::before {
  content: "-";
}

.create-levels-box .Ask-level-box .content,
.create-questions-box .questions-box .content{
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.create-questions-box .questions-box.active .content {
  height: 750px;
}
.create-levels-box .Ask-level-box.active .content {
  height: 240px;
}

.imgF4 {
    position: relative;
}

.textF4 {
    position: absolute;
    
}

.ButtonGoBackHome {
    width: 219.64px;
    height: 44px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #818181;
    cursor: pointer;

}


/*display da lista de quizzes */

main {
  width: 100vw;
  height: 100vh; 
}

.creatQuizz{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 48px auto;
  width: 80%;
  height: 181px;
  border: 1px dashed #D4D4D4;
  border-radius: 5px;
}

.userText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-bottom: 30px;
}

.btnCreatQuizz{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed red;
  border-radius: 50px;
  width: 151px;
  height: 40px;
}

.btnCreatQuizz:hover{
  cursor: pointer;
}

.allQuizzContainer, .userQuizzContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin-left: auto;
}

.allQuizzContainer h1 {
  font-family: "Roboto";
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  margin-bottom: 15px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.title h1 {
  font-family: "Roboto";
  font-weight: 700;
  color: #000000;
  font-size: 20px;

}
.title ion-icon {
  font-size: 25px;
  color: #EC362D;
}
.title ion-icon:hover {
  cursor: pointer;
}


.grid {
  width: 90%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 340px;
  height: 181px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 5px;
}

.card img {
  width: 100%;
  height: 100%; 
  border-radius: 5px;
}

.card:hover {
  cursor: pointer;
}


.quizzTitle {
  color: white;
  position: absolute;
  top: 100px;
  left: 20px;
  font-weight: 700;
  font-size: 20px;
  font-family: "Roboto";
  z-index: 2;
}

.front {
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 1;
}


/* fim do display da lista de quuizzes */

.hidden {
  display: none;
}