* {
    box-sizing: border-box;
  }

  .container-basic-information {
    font-family: 'Roboto';
   
  }

  header {
    width: 100%;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center 
  }

  .container-basic-information {
    font-family: 'Roboto';
   
  }

  header {
    width: 100%;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 71px;
  }

  h1 {
    width: 176px;
    height: 43px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
    
  }

  .main-box-basic-informations, .create-questions-box, .create-levels-box, .Finished-quizz-box  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 13px;
  }

  .hidden{
    display: none ;
}
  h2 {
    width: auto;
    height: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 27px;
  }

  h3 {
    width: auto;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-top: 27px;
  }

.beginning-question-box {
    width: 600px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    padding: 21px 20px 16px 24px;
    gap: 9px;
    
}
.questions-box, .Ask-level-box {
    width: 600px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    padding: 0px 20px 16px 24px;
    gap: 14px;
}

input {
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    
}

input::placeholder {
    width: auto;
    height: 22px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    padding-left: 23px;
    
}
.button {
    width: 368px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 85px;
}

.Finished-Quizz-Button {
    width: 220px;
    height: 44px;
    background: #EC362D;
    border-radius: 15px;
    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF5F4;

}


p {
    width: 368px;
    height: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgF4 {
    position: relative;
}

.textF4 {
    position: absolute;
    
}

.ButtonGoBackHome {
    width: 219.64px;
    height: 44px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #818181;
    cursor: pointer;

}


/*display da lista de quizzes */

main {
  width: 100vw;
  height: 100vh; 

}

.allQuizzContainer {
  margin: 48px auto;
  width: 80%;
}

.allQuizzContainer h1 {
  color: #000000;
  margin-bottom: 12px;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 700;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 375px;
  height: 181px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 5px;
}

.card img {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

  
}

.quizzTitle {
  color: white;
  position: absolute;
  top: 100px;
  left: 20px;
  font-weight: 700;
  font-size: 20px;
  font-family: "Roboto";
}


/* fim do display da lista de quuizzes */

